/*
Header sass
*/
/* Project basic settings*/
/*Pacifico*/
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/pacifico.eot");
  src: url("./fonts/pacifico.eot?#iefix") format("embedded-opentype"), url("./fonts/pacifico.woff") format("woff"), url("./fonts/pacifico.ttf") format("truetype"), url("./fonts/pacifico.svg#pacifico") format("svg"); }
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/pacifico.eot");
  src: url("./fonts/pacifico.eot?#iefix") format("embedded-opentype"), url("./fonts/pacifico.woff") format("woff"), url("./fonts/pacifico.ttf") format("truetype"), url("./fonts/pacifico.svg#pacifico") format("svg"); }
/*Fords Folly*/
@font-face {
  font-family: 'Fords Folly';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/fords-folly.eot");
  src: url("./fonts/fords-folly.eot?#iefix") format("embedded-opentype"), url("./fonts/fords-folly.woff2") format("woff2"), url("./fonts/fords-folly.woff") format("woff"), url("./fonts/fords-folly.ttf") format("truetype"), url("./fonts/fords-folly.svg#fordsfolly") format("svg"); }
@font-face {
  font-family: 'Fords Folly';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/fords-folly.eot");
  src: url("./fonts/fords-folly.eot?#iefix") format("embedded-opentype"), url("./fonts/fords-folly.woff2") format("woff2"), url("./fonts/fords-folly.woff") format("woff"), url("./fonts/fords-folly.ttf") format("truetype"), url("./fonts/fords-folly.svg#fords-folly") format("svg"); }
/* Sansa Pro Bold*/
@font-face {
  font-family: 'Sansa Pro Bold';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/sansa-pro-bold.eot");
  src: url("./fonts/sansa-pro-bold.eot?#iefix") format("embedded-opentype"), url("./fonts/sansa-pro-bold.woff") format("woff"), url("./fonts/sansa-pro-bold.ttf") format("truetype"), url("./fonts/sansa-pro-bold.svg#sansa-pro-bold") format("svg"); }
/* Sansa Pro */
@font-face {
  font-family: 'Sansa Pro';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/sansa-pro.eot");
  src: url("./fonts/sansa-pro.eot?#iefix") format("embedded-opentype"), url("./fonts/sansa-pro.woff") format("woff"), url("./fonts/sansa-pro.ttf") format("truetype"), url("./fonts/sansa-pro.svg#sansa-pro") format("svg"); }
@font-face {
  font-family: 'sunweb-icons';
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/sunweb-icons.eot?-nhl0i");
  src: url("./fonts/sunweb-icons.eot?#iefix-nhl0i") format("embedded-opentype"), url("./fonts/sunweb-icons.ttf?-nhl0i") format("truetype"), url("./fonts/sunweb-icons.woff?-nhl0i") format("woff"), url("./fonts/sunweb-icons.svg?-nhl0i#sunweb-icons") format("svg"); }
.icon {
  font-family: 'sunweb-icons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-airplane:before {
  content: '\e600'; }

.icon-cars:before {
  content: '\e601'; }

.icon-family:before {
  content: '\e602'; }

.icon-mountains:before {
  content: '\e603'; }

.icon-sun:before {
  content: '\e604'; }

.icon-calendar:before {
  content: '\e605'; }

.icon-calendar-overview:before {
  content: '\e606'; }

.icon-clock:before {
  content: '\e607'; }

.icon-info:before {
  content: '\e610'; }

.icon-angle-left:before {
  content: '\e608'; }

.icon-angle-right:before {
  content: '\e609'; }

.icon-facebook:before {
  content: '\e60a'; }

.icon-facebook-square:before {
  content: '\e60b'; }

.icon-google-plus:before {
  content: '\e60c'; }

.icon-google-plus-square:before {
  content: '\e60d'; }

.icon-twitter:before {
  content: '\e60e'; }

.icon-twitter-square:before {
  content: '\e60f'; }

.icon-xs {
  font-size: 50%; }

.icon-sm {
  font-size: 75%; }

.icon-lg {
  font-size: 150%; }

.icon-xl {
  font-size: 200%; }

.wrapper {
  margin: 0 auto;
  max-width: 960px; }

.top-section {
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1);
  background-color: white; }

@media (min-width: 960px) {
  .top-section {
    border-radius: 0 0 5px 5px; } }
main {
  background-color: white;
  width: 100%; }

@media (min-width: 960px) {
  main {
    margin: 0 5%;
    width: 90%; } }
@media (min-width: 1680px) {
  main {
    margin: 0 auto; } }
article {
  font-family: "Sansa Pro", Verdana, Arial, sans-serif;
  margin: 0 auto;
  padding: 0 1.5em 2em;
  text-align: center; }
  article h1 {
    font-family: "Sansa Pro Bold", Verdana, Arial, sans-serif;
    font-weight: 700;
    margin: 0;
    padding-top: 1.5em; }
  article h2 {
    color: #ed1c2e;
    font-family: "Sansa Pro Bold", Verdana, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: 400; }

/*# sourceMappingURL=main.css.map */
