/* Project basic settings*/
/* Base colors*/
/*Pacifico*/
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/pacifico.eot");
  src: url("./fonts/pacifico.eot?#iefix") format("embedded-opentype"), url("./fonts/pacifico.woff") format("woff"), url("./fonts/pacifico.ttf") format("truetype"), url("./fonts/pacifico.svg#pacifico") format("svg"); }
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/pacifico.eot");
  src: url("./fonts/pacifico.eot?#iefix") format("embedded-opentype"), url("./fonts/pacifico.woff") format("woff"), url("./fonts/pacifico.ttf") format("truetype"), url("./fonts/pacifico.svg#pacifico") format("svg"); }
/*Fords Folly*/
@font-face {
  font-family: 'Fords Folly';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/fords-folly.eot");
  src: url("./fonts/fords-folly.eot?#iefix") format("embedded-opentype"), url("./fonts/fords-folly.woff2") format("woff2"), url("./fonts/fords-folly.woff") format("woff"), url("./fonts/fords-folly.ttf") format("truetype"), url("./fonts/fords-folly.svg#fordsfolly") format("svg"); }
@font-face {
  font-family: 'Fords Folly';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/fords-folly.eot");
  src: url("./fonts/fords-folly.eot?#iefix") format("embedded-opentype"), url("./fonts/fords-folly.woff2") format("woff2"), url("./fonts/fords-folly.woff") format("woff"), url("./fonts/fords-folly.ttf") format("truetype"), url("./fonts/fords-folly.svg#fords-folly") format("svg"); }
/* Sansa Pro Bold*/
@font-face {
  font-family: 'Sansa Pro Bold';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/sansa-pro-bold.eot");
  src: url("./fonts/sansa-pro-bold.eot?#iefix") format("embedded-opentype"), url("./fonts/sansa-pro-bold.woff") format("woff"), url("./fonts/sansa-pro-bold.ttf") format("truetype"), url("./fonts/sansa-pro-bold.svg#sansa-pro-bold") format("svg"); }
/* Sansa Pro */
@font-face {
  font-family: 'Sansa Pro';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/sansa-pro.eot");
  src: url("./fonts/sansa-pro.eot?#iefix") format("embedded-opentype"), url("./fonts/sansa-pro.woff") format("woff"), url("./fonts/sansa-pro.ttf") format("truetype"), url("./fonts/sansa-pro.svg#sansa-pro") format("svg"); }
@font-face {
  font-family: 'sunweb-icons';
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/sunweb-icons.eot?-nhl0i");
  src: url("./fonts/sunweb-icons.eot?#iefix-nhl0i") format("embedded-opentype"), url("./fonts/sunweb-icons.ttf?-nhl0i") format("truetype"), url("./fonts/sunweb-icons.woff?-nhl0i") format("woff"), url("./fonts/sunweb-icons.svg?-nhl0i#sunweb-icons") format("svg"); }
.icon {
  font-family: 'sunweb-icons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-airplane:before {
  content: '\e600'; }

.icon-cars:before {
  content: '\e601'; }

.icon-family:before {
  content: '\e602'; }

.icon-mountains:before {
  content: '\e603'; }

.icon-sun:before {
  content: '\e604'; }

.icon-calendar:before {
  content: '\e605'; }

.icon-calendar-overview:before {
  content: '\e606'; }

.icon-clock:before {
  content: '\e607'; }

.icon-info:before {
  content: '\e610'; }

.icon-angle-left:before {
  content: '\e608'; }

.icon-angle-right:before {
  content: '\e609'; }

.icon-facebook:before {
  content: '\e60a'; }

.icon-facebook-square:before {
  content: '\e60b'; }

.icon-google-plus:before {
  content: '\e60c'; }

.icon-google-plus-square:before {
  content: '\e60d'; }

.icon-twitter:before {
  content: '\e60e'; }

.icon-twitter-square:before {
  content: '\e60f'; }

.icon-xs {
  font-size: 50%; }

.icon-sm {
  font-size: 75%; }

.icon-lg {
  font-size: 150%; }

.icon-xl {
  font-size: 200%; }

html, body {
  margin: 0;
  padding: 0;
  /*background-color: #AAA;*/ }

body {
  background-color: #eee; }

body {
  width: 100%; }

header nav {
  height: 50px; }

#top-logo {
  position: relative;
  border-bottom: 4px solid #f99500;
  border-top: 4px solid #ed1c2e;
  height: 7px;
  z-index: 2; }

main {
  background-color: white;
  width: 100%;
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1); }

#header_logo {
  position: absolute;
  width: 225px;
  top: -25px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: 225px;
  height: auto; }

#header-image {
  position: relative;
  margin: 4px 0 0 0;
  padding: 0;
  width: 100%;
  border-top: 4px solid #20a0de; }

#header-image img {
  width: 100%;
  height: auto;
  padding: 0;
  /*display: block;*/ }

#header-footer {
  position: absolute;
  bottom: 0px;
  display: block;
  background: url("./img/summer-wave.svg");
  background-size: 130%;
  background-position: left top;
  background-repeat: none;
  width: 100%;
  height: 30px; }

#site-slogan {
  background-color: #f9eb2d; }
  #site-slogan h2 {
    margin: 0 auto;
    padding: 5px 0 15px;
    text-align: center;
    font-family: 'Pacifico', Verdana, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: -3px 3px 8px #fff, 3px -3px 8px #fff; }

article {
  text-align: center;
  padding: 0 1.5em 2em;
  font-family: "Sansa Pro", Verdana, Arial, sans-serif; }
  article h1 {
    font-family: "Sansa Pro Bold", Verdana, Arial, sans-serif;
    font-weight: 700; }
  article h2 {
    font-family: "Sansa Pro Bold", Verdana, Arial, sans-serif;
    font-weight: 400;
    color: #ed1c2e;
    font-size: 1.2em; }

.button {
  display: inline-block;
  background-color: #ed1c2e;
  margin: 2em 0;
  padding: .8em 1.5em;
  text-transform: uppercase;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  font-family: "Sansa Pro Bold", Verdana, Arial, sans-serif;
  font-weight: 700;
  color: #fff; }

footer {
  position: relative;
  font-family: "Sansa Pro", Verdana, Arial, sans-serif;
  background-color: #f9eb2d; }
  footer .footer-top {
    margin-top: 6em;
    background: url("./img/sunweb-wave.svg") #eee;
    background-size: 250%;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 50px;
    z-index: 2; }
  footer h2 {
    margin: 0;
    padding: .2em 3em 2em;
    background-color: #f9eb2d;
    color: #ed1c2e;
    font-family: "Fords Folly", Verdana, Arial, sans-serif;
    font-size: 1em;
    text-align: center; }
  footer #footer_logo {
    position: absolute;
    width: 150px;
    margin-left: 3em;
    margin-top: -1em;
    height: auto;
    top: 10px; }
  footer nav {
    clear: both;
    background-color: #f9eb2d;
    padding-bottom: 1em; }
  footer ul {
    margin: 0;
    padding: 0em 1.5em 1.5em;
    list-style-type: none;
    text-align: center;
    color: #666666; }
  footer li {
    padding: .2em 0; }
  footer aside li:first-child {
    color: #000;
    font-family: "Sansa Pro Bold", Verdana, Arial, sans-serif;
    padding-bottom: 1em;
    text-transform: uppercase; }
  footer .icons li + li {
    display: inline-block;
    color: #000;
    font-size: 1.5em; }

a:link {
  color: #20a0de; }

a:visited {
  color: #0d4058; }

a:hover {
  color: black; }

a:active {
  color: #a5d9f2; }

.clear-fix:after {
  content: "";
  display: table;
  clear: both; }

/******************************************************
Break for tablets an medium devices
******************************************************/
@media (min-width: 480px) {
  #header_logo {
    margin-left: 40px; }

  #top-logo {
    border-bottom: 3px solid #f99500;
    border-top: 3px solid #ed1c2e;
    height: 5px; }

  #header-image {
    margin: 3px 0 0 0;
    width: 100%;
    border-top: 3px solid #20a0de;
    max-height: 400px;
    z-index: 1;
    overflow-y: hidden; }

  #header-footer {
    position: absolute;
    bottom: 0px;
    display: block;
    background: url("./img/summer-wave2.svg");
    background-size: 100% 100%;
    background-position: center top;
    background-repeat: none;
    width: 100%;
    height: 40%; }

  #site-slogan {
    position: absolute;
    background: none;
    font-size: 2em;
    width: 400px;
    top: 130px;
    left: 10%;
    z-index: 5; }
    #site-slogan h2 {
      text-align: left; }

  article {
    z-index: 2; }

  footer {
    position: relative; }
    footer .footer-top {
      background-size: 200%;
      height: 80px; }
    footer header {
      background-size: 180%;
      padding-top: 10px; }
    footer .wraper {
      position: relative; }
    footer #footer_logo {
      position: absolute;
      margin-left: 1.5em;
      margin-top: 0em;
      top: -100px; }
    footer h2 {
      position: absolute;
      margin: 0;
      padding: 0;
      top: -100px;
      left: 37%;
      background-color: transparent;
      text-align: center; }
    footer #footer-main-menu {
      float: left;
      width: 30%; }
    footer aside {
      float: right;
      background-color: #f9eb2d;
      width: 70%; }
    footer ul {
      float: left; }
    footer li {
      text-align: left;
      max-width: 400px; } }
/**************************************************
Break for screen and large devices
*********************************************/
@media (min-width: 960px) {
  main {
    margin: 0 5%;
    width: 90%; }

  .wraper {
    max-width: 960px;
    margin: 0 auto; }

  #header-footer {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
    filter: FlipH; }

  #header-image img {
    margin-top: -50px; }

  footer .footer-top {
    background-size: 100% 100%;
    background-repeat: repeat-x;
    height: 80px; }
  footer .wraper {
    padding: 0 1.5em 2em; }
  footer #footer-main-menu {
    float: left;
    width: 20%; }
  footer aside {
    float: right;
    background-color: #f9eb2d;
    width: 80%; }
  footer ul {
    float: left;
    min-width: 25%; }
  footer li {
    text-align: left;
    max-width: 100%; } }
/*
Break for screen and large devices
*/
@media (min-width: 1680px) {
  main {
    margin: 0 auto;
    width: 1680px; }

  header {
    position: relative; }
    header #header-image img {
      margin-top: -90px; } }

/*# sourceMappingURL=style.css.map */
