// Style for buttons in the site
.button{ //Buttons propertyes
	display: inline-block;
	background-color: $color-base-1;
	margin: 2em 0; 
	padding: .5em 1.2em;
	text-transform: uppercase; 
	@include prefix-navs(border-radius, 10px);
	font-family: $font-sansa-pro-bold;
  	font-weight: 700;
  	color: $inverse-text-color;
  	border : 3px solid $color-base-1;
}

.button:hover{	// button hover efect
	background-color: transparent;
	color: $color-base-1;
}