/* Project basic settings*/

$path-fonts :"./fonts/";



$color-red : #ed1c2e;
$color-orange : #f99500;
$color-blue : #20a0de;
$color-yellow : #f9eb2d;
$color-gray :#eee;
$color-dark-grak: #444;


// Base colors
$color-base-1 : $color-red;
$color-base-2 : $color-orange;
$color-base-3 : $color-blue;


// text colors

$base-text-color : #000;
$color-link-text: $color-dark-grak;
$inverse-text-color: #fff;
$inverse-text-color: #fff;
$outstanding-text-color : $color-red;

// Basic Backgroun colors

$main-bg-color: white;
$web-gb-color: $color-gray;
$site-slogan-bg-color : $color-yellow;


//Responsive breakpoint definitions

$breakpoint-sm : 480px;
$breakpoint-md : 960px;
$breakpoint-lg : 1680px;

