/*
Autor : Alvar Blanch
website: sunweb
*/

// Includes 
//Normalizer.
@import '../bower_components/normalize-scss/sass/normalize';

//Settngs variables like colors, responsive break points sizes
@import 'settings';


// Sonts definitions
@import 'sunwebfonts';

// Mixins
@import 'mixins';

// Button class definitions
@import 'button';

// Section import

@import 'header';
@import 'main';
@import 'footer';


// CSS Deginition for small devices. Mobile Firts

html, body{
	margin: 0;
	padding: 0;
}
body{
	background-color: $web-gb-color;
	width:100%;
}

// Top anb botom slogan font definition
.slogan{
	color: $outstanding-text-color;
	font-family: $font-fords-folly;
}

// link color properties

a:link {color:$color-link-text;}      
a:visited {color:darken( $color-link-text, 30% ); }  
a:hover {color:darken( $color-link-text, 50% ); } 
a:active {color:lighten( $color-link-text, 30% ); } 

.clear-fix:after {
	clear: both;
	content: "";
	display: table;
}

